.SameDayServices{
    margin-top: -40%;
    height: 100px;
}

.h1-samedayservices{
    color: #025B5D;
    text-align: center;    
}

.css-6s1xft-MuiGrid-root {
    padding-bottom: 40px!important;
}

.smaedayimg{
    margin-top: -50px;
}

.css-174eci2 {
    margin-top: 35px!important;
}

.SmaeDayServicesText{
    margin-bottom: 40px;
}
