.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
    display: flex!important;
    color: #415859!important;
}


.css-sghohy-MuiButtonBase-root-MuiButton-root{
    color: #415859!important;
}

/* D-app */
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {    
    color: #415859!important;
    border-color: #415859!important;
}

.css-hyum1k-MuiToolbar-root {
    background-color: aliceblue!important;
    color: #415859!important;
}

.css-i4bv87-MuiSvgIcon-root{
    color: #415859!important;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
    padding-left: 50px!important;
}

.Logo{
    font-family: bold!important;
    color: #FF9D00!important;
}
.Logotext{
    color: #4D4D4D!important;
    width: 32.71px;
    height: 15.57px;
}